*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 80px;
    background-color: rgba(195, 194, 194, 0.2);
}
.cab_nav{
    width: 10px;
    padding: 50px;
    position:fixed;
    top: 0px;
}
.cab_nav ul li{
    list-style: none;
    display: inline-block;
    padding: 2px 20px;
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    cursor: pointer;
}
.cab_nav ul li a{
    text-decoration: none;
    text-align: right;
    color: white;
}
.logo_img{
    width: 150px;
    position: absolute;
    transform: translateX(-20%) translateY(-120%);
}
.contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 25px 10px;
    border: solid;
    background-color: rgb(174, 22, 22);
    color: white;
}
.titulo_cont{
    font-size: 40px;
    text-align: center;
    padding: 20px 10px;
}
.parr_cont{
    font-size: 20px;
    text-align: justify;
}
.imgzoom {
      width: 250px;
      transition: transform 0.3s ease;
}
.imgzoom:hover {
    transform: scale(1.1);
}
.nav-bar {
      display: flex;
      justify-content: center;
      gap: 20px;
      padding: 15px;
      background-color: #1e1e2f;
      position:absolute;
      top: 480px;
      left: 100px;
    }
.nav-bar a img {
    width: 120px;
    height: 80px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s;
}
.nav-bar a img:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
}
.formulario_ing{
    width: 500px;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 20px 1px black;
    position: relative;
    background-color: rgb(255, 254, 254,0.6 );
}
.info_h2{
    text-align: center;
    margin-top: 0px;
    color: rgb(194, 36, 36);
    font-size: 30px;
    font-family: sans-serif;
}
.formula, .enviar{
    display: block;
    padding: 20px;
    width: 100%;
    margin: 30px 0px;
    font-size: 20px;
    border: none;
}
.enviar{
    background-color: rgb(211, 36, 36);
    border: 0px;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 0;
    opacity: 0.8;
    transition: .8s ease-out;
    color: white;
}
.enviar:hover{
    opacity: 1;
    border-radius: 0px;
    background-color: rgb(235, 78, 78);
}